@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

.splide__pagination__page{
  background-color: #FF5200 !important;
}

.splide__pagination{
  bottom: -1.8em !important;
}

.splide__arrow{
  background: none !important;
}

.splide__arrow svg{
  fill: #FF5200 !important;
}

:root {
  background-color: #FCFCFC;
}